<p id="notice"><%= notice %></p>

<h1>Tasks</h1>


<% react_component('TaskList', tasks: @tasks) %>

<%# Have this so I remember how to call react compnents. <%= react_component('HelloWorld') %> 

<br>

<%= link_to 'New Task', new_task_path %>
