<p id="notice"><%= notice %></p>

<h1>Tasks</h1>


<% @tasks.each do |task| %>
  <%= react_component('TaskDisplay',  task: task.as_json ) %>
<% end %>

<%# Have this so I remember how to call react compnents. <%= react_component('HelloWorld') %> 

<br>

<%= link_to 'New Task', new_task_path %>
